#include "Common/Deployment.hpp"
#include "Sandbox/Sandbox.hpp"

/*
** SAMPLE CODE
*/

using namespace sb;

Sandbox *sandbox;

bool LogicDriverUpdate(void) // is called just before update of motorcontroller in Sandbox::Spinonce
{
	return (true);
}

void setup() //runs on startup
{
	sandbox = new Sandbox();
	sandbox->Setup();
	sandbox->SetLogicDriverUpdate(LogicDriverUpdate);
}

void loop() // loops indefinitely
{
	// all your code here
	sandbox->SpinOnce();
}

void post() // runs when loop() breaks
{
	sandbox->Shutdown();
}
