#include "Common/Deployment.hpp"
#include "Sandbox/Sandbox.hpp"

/*
** SAMPLE CODE
*/

using namespace sb;

Sandbox *sandbox;

bool DriverLogicUpdate(void) // is called just before update of motorcontroller in Sandbox::Spinonce
{
	return (true);
}

void setup() //runs on startup
{
	sandbox = new Sandbox();
	sandbox->Setup();
	sandbox->SetDriverLogicUpdate(DriverLogicUpdate);
}

void loop() // loops indefinitely
{
	// all your code here
	sandbox->SpinOnce();
}

void post()
{

}
