arduino 1:1.8.13-2
arduino-avr-core 1.8.3-1
arduino-builder 1.5.4-1
arduino-cli 0.13.0-2
arduino-ctags 5.8_arduino11-4
arduino-docs 1.6.6-7
arduino-mk 1.6.0-1
arduino-avr-core 1.8.3-1
avr-binutils 2.35.1-1
avr-gcc 10.2.0-1
avr-libc 2.0.0-4
avrdude 1:6.3-7